streamlit==1.32.0
langchain==0.1.12
langchain-community==0.0.25
langchain-core==0.1.35
langchain-google-genai==0.0.9
openai==1.13.3
langchain-openai==0.0.7
anthropic==0.8.1
langchain-anthropic==0.1.1
pypdf==4.0.1
faiss-cpu==1.7.4
python-dotenv==1.0.1
reportlab==4.0.9
google-generativeai==0.3.2
ipython==8.18.1
protobuf==4.25.3